<!-- recibir el mesaje dentro de una variable-->
{% with mensajes = get_flashed_messages() %}
<!-- si existe el mensaje lo recorremos -->
    {% if mensajes %}
        {% for mensaje in mensajes %}
        <!-- imprimimos el mensaje -->
        <p>{{ mensaje }}</p>
        {% endfor %}
    {% endif %}
{% endwith %}
<form action="/agregar_contactos" method="POST">
    <input type="text" name="nombre" placeholder="Nombre">
    <input type="text" name="telefono" placeholder="Telefono">
    <input type="text" name="email" placeholder="E-Mail">
    <button type="submit"> Guardar</button>
</form>